.chart div {
   font: 10px sans-serif;
   background-color: steelblue;
   text-align: right;
   padding: 3px;
   margin: 1px;
   color: white;
}
.label{
  writing-mode: tb-rl;
}

table.nostripes tbody tr td{
    background: transparent;
}

/* Footer Styles */
.footer {
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
}

@media (min-width: 980px) {
    body {
        padding-top : 60px;
    }
}

.head-align {
  margin-top : 10px;
}

.dc-table-group {
  background-color : #eee;
}

.pie-slice {
  fill : black;
  font-size : 12px;
}

.selected path {
  stroke : black;
  stroke-width : 3px;
}

.bar {
  fill : steelblue;
}

.dc-chart .axis path {
  fill : none;
  stroke : black;
}

.dc-chart .brush rect.extent {
  fill: steelBlue;
  fill-opacity: .5;
}

.axis text {
  font-size : 12px;
}
