.chart div {
   font: 10px sans-serif;
   background-color: steelblue;
   text-align: right;
   padding: 3px;
   margin: 1px;
   color: white;
}
.label{
  writing-mode: tb-rl;
}

table.nostripes tbody tr td{
    background: transparent;
}

/* Footer Styles */
.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
}

body {
  padding-top : 60px;
}

.head-align {
  margin-top : 10px;
}
